configuration{
	display-drun: " Apps  ";
	display-run: " RUN => ";
	drun-display-format: "{name}";
}
* {
    background-color: #1e1e1e;
    border-color: #3c3c3c;
    text-color: #ffffff;
    font: "FiraCode Nerd Font 10";
}

#window {
	anchor:center;
	x-offset: -50%;
	y-offset: -95%;
    width: 90%;
    children: [ horibox ];
	border: 1px;
	border-color: #3c3c3c;
}

#horibox {
    orientation: horizontal;
    children: [ prompt, entry, listview ];
}
#prompt{
	background-color: #0a7aca;
	color: #ffffff;
}

#listview {
    layout: horizontal;
    spacing: 15px;
	width: 100%;
}

#entry {
    expand: false;
    width: 10em;
}

#element {
    padding: 0px 2px;
}
#element selected {
    background-color: #0a7aca;
	color: #ffffff;
}
